header {
	padding-top:20px;
	width: 750px;
	height: 60px;
	margin: 0 auto;
  background-color: white;
}

header h1 {
	display: inline; 
	width: 300px;
	font-weight: 900;
	font-size: 25px;
	text-align: center;
  padding:0px 0 6px 0;
}

header h1 span{
  font-weight:200;
  font-color: #DCDCDC;
}

header li {
	float: left;
	list-style-type: none;
	margin-left: 30px;
}

header h1 a {
  text-decoration: none;
}

header li a {
	text-decoration: none;
	color: inherit;
}

header ul{
  float:right;
  padding:10px 0 0 0;
}

.links {
  padding:6px 6px 0 0;
}

li {
	display: list-item;

}

ul, menu, dir {
	display: block;

}

footer a:visited a {
	color: inherit;
}

* {
	margin: 0;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;

}

span {
	font-weight:0;
}

p {
	display: block;
  font-family: 'Raleway', sans-serif;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
}

.fa-envelope-o:before {
    content: "\f003";
}

html,body{
  padding:0 0 0 0;
  height:100%;
}

*{
  margin: 0;
}

img {
  opacity: 50%;
}

h3 {
  margin-top: 40px;
}

.label {
  display: none;
}

hr.bottom {
  margin-bottom: 0;
}

footer {
  display: block;
  text-align: center;
  font-size: 30px;
  /*padding: 10px;*/
  transition: 1s ease-in-out;
  letter-spacing: 7px;
}

footer:hover {
  background-color: #e8ecf2;
}

#main{
  font-family: 'Roboto', sans-serif;
  color:#272727;
  min-height: 100%;
  height: auto !important;
  height:100%;
  margin: 0 auto -4em;
  padding: 10px 0 0 0;
}
#name {
  font-size: 28px;
}
#about{
  width:750px;
  margin:0 auto;
  font-size:20px;
  line-height:30px;
}

#about a{
  text-decoration: none;
  color:inherit;
}

#about p{
  padding-right:0;
  padding-left:10px;
  margin-bottom:35px;
}

#resume {
  width:750px;
  margin: 0 auto;
}

#work-exp {
  font-weight:200;
  font-size: 24px;
  padding-left:30px;
  margin-bottom: 30px;
}

#exp-item p{
  margin-top: 10px;
  font-size:15px;
  font-weight:200;
  font-family: 'Roboto', sans-serif;
}

#resume a {
  text-decoration: none;
  color:inherit;
  font-weight:500;
}

#resume p{
  padding-right:0;
  padding-left: 10px;
  margin-bottom: 5px;
}

#dropdown {
  display: none;
}

#dropdown a {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  color: #FFFFFF;
}

a {
  transition: all .3s ease-in-out;
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}


#main{
  font-family: 'Quicksand', sans-serif;
  color:#272727;
  min-height: 100%;
  /*height: auto !important;*/
  height:100%;
  margin: 0 auto;
  padding: 10px 0 0 0;
}


#main {
  width: 50%;
}

#about {
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 40px;
}

header, hr {
  clear: both;
}

header ul {
  float: left;
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
}

header li {
  float: left;
  list-style-type: none;
  margin-left: 30px;
}

ul li:first-child{
  margin: 0;
}

footer{
  height:40px;
  width:650px;
  font-size:50px;
  margin:20px auto 0 auto;
  text-align:center;
}
footer a:visited,a{
  color:inherit;
}
footer i{
  margin-right:30px;
}

#navbar-btn {
    padding-right: 5px;
}

#navigation {
  margin-top: 13px;
  margin-left: 4px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 8px 8px 60px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*
#big-box {
  width: 600px;
  height: 600px;
  background-color: grey;
  margin: 0 auto;
  font-size: 60px;
}

#med-box {
  width: 400px;
  height: 400px;
  background-color: lightblue;
  margin: 0 auto;
  font-size: 0.5rem;
}

#small-box {
  width: 200px;
  height: 200px;
  background-color: #f2d9fc ;
  margin: 0 auto;
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  body {
    background-color: #f2d9fc;
  }
}

@media only screen and (max-width: 900px) {
  body {
    background-color: #dd9af9;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #bf25fc;
  }
}
*/